.dashboard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: 40px;
  margin-bottom: 40px;
}

.dashboard div {
  padding: 10px;
  border-radius: 7px;
  color: #F7F7F7;
  background-color: #242424;
}

.dashboard div:first-child {
  background-color: green;
}

.dashboard div:last-child {
  background-color: red;
}

.dashboard h2 {
  font-weight: 600;
}

.dashboard span {
  font-size: 1.5rem;;
}