
.transactions ul {
  display: grid;
  grid-template-columns: .5fr .5fr 2fr 1fr 1fr .5fr .5fr;
  padding: 10px;
  list-style: none;
}

.transactions svg {
  transition:  all .3s;
}

.transactions svg:hover {
  fill: #121212;
  width: 32px;
}

.menu {
  font-weight: 600;
  background-color: #121212;
  color: #F7F7F7;
  border-radius: 7px;
}

.menu li {
  display: flex;
  align-content: center;
  gap: 10px;
}

.menu div {
  display: flex;
}


.transaction:nth-child(odd) {
  background-color: #51AFF7;
}

.action:hover {
  font-weight: 700;
  cursor: pointer;
}